@model CodigoProgramado_Grupo4.Models.CarritoProducto

@{
    ViewBag.Title = "Eliminar Producto del Carrito";
}

<h2>Eliminar Producto del Carrito</h2>

<p>¿Estás seguro de que deseas eliminar este producto del carrito?</p>

<div>
    <h4>Detalles del Producto</h4>
    <table class="table table-bordered">
        <tr>
            <th>Carrito ID</th>
            <td>@Html.DisplayFor(model => model.Carritos.Id)</td>
        </tr>
        <tr>
            <th>Cantidad</th>
            <td>@Html.DisplayFor(model => model.Cantidad)</td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>