@model CodigoProgramado_Grupo4.Models.CarritoProducto

@{
    ViewBag.Title = "Detalles del Producto en el Carrito";
}

<h2>Detalles del Producto en el Carrito</h2>

<div>
    <h4>Información del Producto</h4>
    <table class="table table-bordered">
        <tr>
            <th>Carrito ID</th>
            <td>@Html.DisplayFor(model => model.Carritos.Id)</td>
        </tr>
        <tr>
            <th>Cantidad</th>
            <td>@Html.DisplayFor(model => model.Cantidad)</td>
        </tr>
    </table>
</div>

<div>
    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary">Editar</a>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Volver al Listado</a>
</div>

