
@{
    ViewBag.Title = "ErrorDescuento";
}

<h2>Error de Descuento</h2>

<h3 class="card-title text-center">Codigo de descuento nulo o no existente</h3>

<a>@Html.ActionLink("Volver al carrito", "Index", "CarritoProductos", new { area = "" }, new { @class = "nav-link" })</a>