
@{
    ViewBag.Title = "Pago Realizado";
}

<h2>Pago Realizado</h2>

<div class="alert alert-success">
    <strong>@ViewBag.Mensaje</strong>
</div>

<div>
    <a href="@Url.Action("Index", "CarritoProductos")" class="btn btn-primary">Volver al Carrito</a>
</div>
