################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/CodigoProgramado_Grupo4/.vs/CodigoProgramado_Grupo4/FileContentIndex
